In [2]:
import json
import pandas as pd

In [6]:
puuid = "4WU60VKd11pKuuSBe2lnGekDpuOY3b_uzQIGNzS6uuo7ymRmmNlfZ7DIAYSfhkUmlqOkE1jbfxPJRQ" # this is for kungpowji
with open("matches.json", "r") as f:
    matches = json.load(f)

records = []
for match in matches:
    if not match or "info" not in match:
        continue
    info = match["info"]
    for p in info["participants"]:
        if p["puuid"] == puuid:  # use your puuid
            records.append({
                "matchId": match["metadata"]["matchId"],
                "timestamp": info["gameCreation"],
                "duration": info["gameDuration"],
                "champion": p["championName"],
                "role": p["teamPosition"],
                "win": p["win"],
                "kills": p["kills"],
                "deaths": p["deaths"],
                "assists": p["assists"],
                "cs": p["totalMinionsKilled"] + p["neutralMinionsKilled"],
                "gold": p["goldEarned"],
                "vision": p["visionScore"],
                "damage": p["totalDamageDealtToChampions"]
            })

kungpow_rec = pd.DataFrame(records)

In [11]:
display(kungpow_rec)
print(kungpow_rec.columns)
print(len(kungpow_rec))

,matchId,timestamp,duration,champion,role,win,kills,deaths,assists,cs,gold,vision,damage
0,NA1_5366230248,1757551087620,1940,Velkoz,,True,12,22,33,99,20649,0,38238
1,NA1_5366198754,1757548159573,919,Ezreal,,False,3,9,11,28,9198,0,13153
2,NA1_5366184416,1757547046864,746,Tristana,,False,1,10,6,20,6959,0,7425
3,NA1_5349296158,1755466679888,1632,Veigar,MIDDLE,True,5,6,10,116,9512,19,12052
4,NA1_5333802662,1753678287315,2292,Zoe,MIDDLE,False,4,9,4,148,10324,20,27130
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,NA1_5214519708,1737788357603,1421,Kindred,,False,1,16,11,96,12952,16,13017
96,NA1_5214120253,1737764526456,3074,Rakan,UTILITY,True,1,9,29,50,14121,95,14719
97,NA1_5212964197,1737621516131,2467,Yuumi,UTILITY,False,3,8,30,22,11508,48,19440
98,NA1_5212944605,1737618608085,2330,Braum,UTILITY,True,4,1,26,44,11107,67,17687
99,NA1_5212722040,1737599739231,1604,Lux,UTILITY,True,4,1,12,65,8064,51,13062

Index(['matchId', 'timestamp', 'duration', 'champion', 'role', 'win', 'kills',
       'deaths', 'assists', 'cs', 'gold', 'vision', 'damage'],
      dtype='object')
100

In [12]:
records = []
for match in matches:
    if "info" not in match:
        continue

    info = match["info"]
    game_duration_minutes = info["gameDuration"] / 60
    timestamp = pd.to_datetime(info["gameCreation"], unit="ms")

    for p in info["participants"]:
        if p["puuid"] == puuid:  # only keep your games
            cs = p.get("totalMinionsKilled", 0) + p.get("neutralMinionsKilled", 0)
            cs_per_min = cs / game_duration_minutes if game_duration_minutes > 0 else 0
            records.append({
                "date": timestamp,
                "champion": p["championName"],
                "csPerMin": cs_per_min
            })

df = pd.DataFrame(records).sort_values("date")
print(df.head())

                      date champion  csPerMin
99 2025-01-23 02:35:39.231      Lux  2.431421
98 2025-01-23 07:50:08.085    Braum  1.133047
97 2025-01-23 08:38:36.131    Yuumi  0.535063
96 2025-01-25 00:22:06.456    Rakan  0.975927
95 2025-01-25 06:59:17.603  Kindred  4.053483